/* thx https://stackoverflow.com/questions/46028417/how-do-i-stop-my-main-body-overlapping-my-navbar-and-banner-in-html-css?rq=1 */
div.top_nav {
	background-color: green;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	padding-left: 10px;
	height: 20px;
}

div.top_nav span#context_id_display {
	float: right;
	margin-right: 22px;
}

div.bottom_nav {
	background-color: green;
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	padding-left: 10px;
	height: 20px;
}

div.bottom_nav.expanded {
	height:400px;
}

div.bottom_nav span#expander {
	float: right;
	margin-right: 22px;
}

