form#setupForm span {
	float: left;
	width: 100px;
}

.dividendChart {
	float: left;
}

.dividendChart td {
	text-align: center;
}

.stockbump {
	color: green;
}

.ghosted {
	opacity: .15;
}

.circle {
	border-radius: 50%;
	text-align: center;
	border: 1px solid black;
	margin: auto;
}

.circle.small {
	width: 20px;
	height: 20px;
}

.circle.tiny {
	width: 15px;
	height: 15px;
}

.circle.small p {
	position: relative;
	top: -15px;
}

.circle.tiny p {
	position: relative;
	top: -10px;
	font-size: .7em;
}

td.railroad {
	text-align: center;
}

.aqua.railroad {
	background-color: #81C6E7;
}

.red.railroad {
	background-color: red;
	color: white;
}

.purple.railroad {
	background-color: #71659E;
	color: white;
}

.orange.railroad {
	background-color: #DE8D31;
}

.yellow.railroad {
	background-color: #EFE858;
}

.playerHoldings {
	/* float: right; */
	padding-left: 10px;
}

.playerName {
	border: 1px solid black;
}

.playerName.pink { background-color: #DE97B8; color: white; }
.playerName.white { background-color: #E3E0E5; }
.playerName.green { background-color: #ADCC66; }
.playerName.blue { background-color: #5591B1; color: white; }
.playerName.magenta { background-color: #890269; color: white; }

hr {
	clear: both;
}

div#gameLog {
	clear:right;
	padding-top: 20px;
	position: relative;
	left: 25px;
}
